.navbar a {
  color: white;
}

.navbar a h4 {
  margin-top: -10px;
  font-family: lobster;
}
.navbar a h2 {
  margin-top: -10px;
  font-family: lobster;
}

.jumbotron {
  padding-top: 110px;
  background-color: rgb(247, 247, 247);
}

body {
  margin-bottom: 500px;
  background-color: rgb(247, 247, 247);
}

.jumbotron h1 {
  font-family: lobster;
  font-size: 55px;
}
